.App {
  text-align: center;
  padding: 20px;
}

input {
  width: 700px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.country-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.countryCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.countryCard img {
  width: 100px;
  height: auto;
}

.countryCard p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
